* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  color: #fff;
  background: radial-gradient(
      circle at 50% 35%,
      rgba(15, 35, 80, 0.45) 0%,
      rgba(10, 20, 45, 0.35) 25%,
      rgba(5, 8, 18, 0.6) 45%,
      #000000 70%
    ),
    linear-gradient(
      135deg,
      #020617 0%,
      #050b1e 30%,
      #000000 55%,
      #030a24 75%,
      #081438 100%
    );

  & h2 {
    font-size: 60px;
    background-color: #006381;
    border-radius: 30px;
    padding: 10px;
  }
}

.container {
  min-height: 100vh;
  & .list {
    height: 0.1vh;
  }
}

.containers.ativo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.containers {
  & .topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;

    & span {
      font-size: 21px;
    }
  }
  .conteudo {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

.containers.eu.ativo {
  display: flex;
  flex-direction: row;

  & .topo {
    position: relative;
    bottom: 200px;
    left: 200px;
  }

  & .conteudo {
    position: relative;
    bottom: 50px;
    right: 400px;
    text-align: right;
    line-height: 1;
    font-size: 30px;
  }

  & img {
    max-width: 70%;
    border-bottom: 3px solid #c3c6c9;
    border-radius: 20%;
  }
}

.containers {
  display: none;
}

.containers.objetivo.ativo {
  & h2 {
    font-size: 60px;
  }

  & p {
    font-size: 22px;
    min-width: 1000px;
    height: 150px;
    letter-spacing: 5px;
    text-align: center;
    border: 3px solid black;
    background: radial-gradient(
      ellipse at center,
      #000000 0%,
      #070a14 35%,
      #0b1530 70%,
      #132654 100%
    );
    padding: 10px;
    border-radius: 10px;
  }
}

.containers.projetos.ativo {
  & h3 {
    font-size: 30px;
    letter-spacing: 7px;
    background-color: #006381;
    padding: 5px;
  }
  & p {
    font-weight: 600;
    padding-top: 15px;
    text-align: center;
  }
  & .conteudo {
    & ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }

    & img {
      width: 300px;
      border-radius: 30px;
      border: 3px solid white;
    }
  }
}

.containers.projetos .conteudo img:hover {
  transform: scale(1.2);
}

.containers.skills {
  width: 600px;
  height: 600px;

  & .topo {
    font-size: 30px;
    border-radius: 30px;
    width: 300px;
  }

  & .conteudo {
    min-width: 1200px;
    min-height: 500px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.containers.formacao.ativo {
  width: 900px;
  height: 800px;

  & .conteudo {
    min-width: 900px;
    min-height: 400px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & h3 {
      font-size: 30px;
    }

    & span {
      font-size: 24px;
    }
  }
}

.containers.contato.ativo {
  & .conteudo .logo {
    width: 1200px;
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 200px;
    text-align: center;
  }
}

.container .list li img {
  width: 100px;
}

.list button {
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.container .list li button {
  background-color: #00c3ff;
}

.container .list li button.me:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 100px #ffb300;
}
.container .list li button.object:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 100px #33ff00;
  filter: drop-shadow(3px 3px 100px);
}
.container .list li button.projects:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 100px #00ffc3;
}
.container .list li button.skills:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 100px #3300ff;
}
.container .list li button.formation:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 100px #c300ff;
}
.container .list li button.contact:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 100px #ff0033;
}

.list .me {
  position: absolute;
  top: 30px;
  left: 30px;
}

.list .object {
  position: absolute;
  top: 350px;
  left: 30px;
}

.list .projects {
  position: absolute;
  top: 700px;
  left: 30px;
}

.list .skills {
  position: absolute;
  top: 30px;
  right: 30px;
}

.list .formation {
  position: absolute;
  top: 350px;
  right: 30px;
}

.list .contact {
  position: absolute;
  top: 700px;
  right: 30px;
}

.containers.contato.ativo {
  & li {
    background-color: #006381;
    width: 150px;
    border-radius: 50%;
  }
}
